@import '~antd/dist/antd.css';

.ant-table-thead > tr > th{
  background: #ffff;
}
.ant-input-group .ant-input {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-right-width: 0px;
}
.ant-input-group-addon{
  background:transparent ;
}


.ant-input-group-addon:hover{
border: 1px solid #999;
}
    

button.ant-btn.ant-btn-primary.ant-btn-lg {
    float: right;
    margin-left: 20px;
    height: 32px;
        background: transparent;
    color: #638bd4!important;
}
button.ant-btn.ant-btn-primary.ant-btn-lg:hover {
            color: #fff!important;
    background: #638bd4;
}
.App {
    margin-top: 2%;
    margin-left: -1%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: right;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
